# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
node_modules/

# Laravel
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# PHPUnit
.phpunit.result.cache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
